/* -------- Root Pane --------  */
.menu-bar {
    -fx-background-color: #4dcc3f;
}

.menu-bar .label {
    -fx-text-fill: white;
}

.menu-item .label{
    -fx-text-fill: black;
}


/* -------- Overview Pane --------  */

.background {
    -fx-background: #ebdaeb;
}

.button {
    -fx-background-color : #4dcc3f;
    -fx-text-fill        : white;
}

.button:hover {
    -fx-background-color : #34b126;
}

.button:pressed, .button:default:hover:pressed {
    -fx-background-color: #219514;
    -fx-border-color: #837e7b;
}

.toggle-button {
    -fx-background-color : #4dcc3f;
    -fx-text-fill        : white;
}
.toggle-button:hover {
    -fx-background-color : #34b126;
}
.toggle-button:selected {
    -fx-background-color: #219514;
    -fx-border-color: #837e7b;
}

.progress-bar {
    -fx-accent: #34b126;
}