/* -------- Root Pane --------  */
.menu-bar {
    -fx-background-color: #3da9f1;
}

.menu-bar .label {
    -fx-text-fill: white;
}

.menu-item .label{
    -fx-text-fill: black;
}


/* -------- Overview Pane --------  */

.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: #a0c4ee;
}

.background {
    -fx-background: #ebdaeb;
}

.button {
    -fx-background-color : #4ea9e6;
    -fx-text-fill        : white;
}

.button:hover {
    -fx-background-color : #4e83e6;
}

.button:pressed, .button:default:hover:pressed {
    -fx-background-color: #5855cf;
    -fx-border-color: #837e7b;
}

.toggle-button {
    -fx-background-color : #4ea9e6;
    -fx-text-fill        : white;
}
.toggle-button:hover {
    -fx-background-color : #4e83e6;
}
.toggle-button:selected {
    -fx-background-color: #5855cf;
    -fx-border-color: #837e7b;
}